{% extends 'base.html' %}
{% load static %}
{% block title %}
    Закладки
{% endblock %}
{% block content %}
<div class="conta" style="padding: 35px; height: fit-content;">
    Закладки
    <hr style="margin: 20px;">
    {% for request in requests %}
    <a style="text-decoration:none; color: black;" href="{{ request.get_absolute_url }}">
        <div style="display: flex; padding-left: 30px; padding-right: 30px;">
        <img src="{% static 'images/profile.svg' %}" width="55" height="55" />
        <p style="padding: 20px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">{{ request.title }} <a href="{{ request.get_url_to_delete_bookmark }}">Удалить закладку</a></p>
        <div style="display: flex; float: right; margin-left: auto; padding: 10px;">
            <p style="padding: 10px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #4FA098;">{{ request.price_from}} - {{ request.price_to}} руб.</p>
            <img src="{% static 'images/money.svg' %}" width="45" height="45">
        </div>
    </div></a>
    <hr style="margin: 20px;">
    {% endfor %}
</div>
{% endblock %}