{% extends 'base.html' %}
{% load static %}
{% block title %}
    Уведомления
{% endblock %}
{% block content %}
<div class="conta" style="padding: 35px; height: fit-content;">
    Уведомления
    <hr style="margin: 20px;">
    {% for response in responses %}
    <a style="text-decoration:none; color: black;" href="{{ response.get_absolute_url }}">
        <div style="display: flex; padding-left: 30px; padding-right: 30px;">
        <img src="{% static 'images/profile.svg' %}" width="55" height="55" />
        <p style="padding: 20px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;"> Откликнулся: {{ response }}</p>
    </div></a>
    <hr style="margin: 20px;">
    {% endfor %}
    Прочитанные
    <hr style="margin: 20px;">
    {% for response in responses_watched %}
    <a style="text-decoration:none; color: black;" href="{{ response.get_absolute_url }}">
        <div style="display: flex; padding-left: 30px; padding-right: 30px;">
        <img src="{% static 'images/profile.svg' %}" width="55" height="55" />
        <p style="padding: 20px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;"> Откликнулся: {{ response }}</p>
    </div></a>
    <hr style="margin: 20px;">
    {% endfor %}
</div>  
{% endblock %}