{% extends 'base.html' %}
{% load static %}
{% block title %}
    Main
{% endblock %}
{% block content %}
<div class="conta" style="padding: 35px; height: fit-content;">
    Детали заказа
    <hr style="margin: 20px;">
    <div style="display: flex; width: 100%;">
        <div>
            <p>Исполнитель: {{ response.user }}</p><br>
            <p>Сообщение: {{ response.text }}</p><br>
        </div>

    {% if response.video %}
        <div style="margin: 7vh;">
            <iframe width="320" height="192" style="border-radius: 15px;"
            src="{{ response.video }}">
            </iframe> 
        </div>
    {% endif %}
    {% if response.image %}
        <div style="display: flex; float: right; margin-left: auto; margin-bottom: 50px;">
            <img src="{{ response.image.url }}" style="max-width: 300px; height: fit-content; margin-left: auto;">
        </div>
    {% endif %}
    </div>
{% endblock %}