{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Откликнуться
{% endblock %}
{% block content %}
<div class="conta" style="padding: 35px; height: fit-content;">
    Откликнуться
    <hr style="margin: 20px;">    
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="regbutton" style="margin-right: 2vh; text-align: center;">Откликнуться</button>
    </form>
{% endblock %}