{% extends 'base.html' %}
{% load static %}
{% block title %}
    Main
{% endblock %}
{% block content %}
<div class="conta" style="padding: 35px; height: fit-content;">
    Детали заказа
    <hr style="margin: 20px;">
    <p>Задача: {{ response.title }}</p><br>
    <p>Категория: {{ re.category }}</p><br>
    <p>Цена: от {{ request.price_from }} руб. до {{ request.price_to }} руб.</p><br>
    <p>Заказчик: <a href="mailto:{{ request.customer }}">{{ request.customer }}</a></p><br>
    <p>Место: {{ request.place }}</p><br>
    <p>Описание: {{ request.description }}</p><br>
    {% if not user.is_customer %}
    <div style="display: flex; float: right; margin-left: auto;">
        <div class="regbutton" style="margin-right: 2vh; text-align: center"><a href="{{ request.get_url_to_create_response }}" style="color: white; text-decoration:none;">Откликнуться</a></div>
    </div>
    {% endif %}
    {{ response }}
{% endblock %}