* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: raleway;
}
@font-face {
    font-family: raleway;
    src: url("../fonts/raleway-regular.woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: raleway-black;
    src: url("../fonts/raleway-black.woff2");
    font-weight: normal;
    font-style: normal;
}
body {
    background: #D9D9D9;
    min-height: 100%;
    margin-bottom: 250px;
}
main {
    position: relative;
    align-items: center;
    align-content: center;
    -ms-flex-align: center;
    top: 160px;
    bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;
}
header {
    border-bottom: solid 2px #373737;
    z-index: 9999;
    background: #FFFFFF;
    position: fixed;
    padding: 1em;
    top: 0;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 95px;
}
header div {
    position: relative;
    display: flex;
    align-items: center;
    left: 15%;
    max-width: 70%;
    height: 50px;
}
header div img {
    display: flex;
    margin-right: 25px;
    margin-left: 25px;
}
header div left {
    display: flex;
    float: left;
}
header div right {
    display: flex;
    float: right;
    margin-left: auto;
}
.change-my-color {
    transition: 0.5s;
    cursor: pointer;
}
.change-my-color.active {
    filter: invert(81%) sepia(8%) saturate(2657%) hue-rotate(121deg) brightness(84%) contrast(84%);
}
.change-my-color:hover {
    filter: invert(81%) sepia(8%) saturate(2657%) hue-rotate(121deg) brightness(84%) contrast(84%);
}
.change-my-color:after {
    filter: invert(81%) sepia(8%) saturate(2657%) hue-rotate(121deg) brightness(84%) contrast(84%);
}
footer {
    border-top: solid 2px #373737;
    background: #FFFFFF;
    z-index: 9999;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 2em;
}
.container {
    width: 100%;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conta {
    position: relative;
    width: 100%;
    height: 600px;
    background: #FFFFFF;
    border: 1px solid #5F5F5F;
    margin-bottom: 350px;
    border-radius: 15px;
}
.swiper {
    width: 80%;
    height: fit-content;
}
.swiper-slide .container {
    width: 100%;
}
.loginbutton {
    width: 102px;
    height: 30px;
    border: 1px solid #373737;
    border-radius: 5px;
    padding: 3px;
    color: black;
}
.regbutton {
    width: 213px;
    height: 30px;
    border-radius: 5px;
    background: #4ABFB4;
    padding: 3px;
    color: white;
}
.swiper swiper-initialized swiper-horizontal swiper-backface-hidden {
    border-radius: 15px;
}