{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon"  href="{% static 'images/logo.png' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
            <div>
                <left>
                    {% with url_name=HttpRequest.path %}
                    <img class="change-my-color {% if url_name == '' %}active{% endif %}" src="{% static 'images/info.svg' %}" width="47" height="47" />
                    {% endwith %}
                    {% with url_name=HttpRequest.path %}
                    <img class="change-my-color {% if url_name == '/orders' %}active{% endif %}" src="{% static 'images/orders.svg' %}" width="47" height="47" />
                    {% endwith %}
                </left>
                <right>
                    {% with url_name=HttpRequest.path %}
                    <img class="change-my-color {% if url_name == '/neworder]' %}active{% endif %}" src="{% static 'images/add.svg' %}" width="47" height="47" />
                    {% endwith %}
                    {% with url_name=HttpRequest.path %}
                    <img class="change-my-color {% if url_name == '/pins]' %}active{% endif %}" src="{% static 'images/pin.svg' %}" width="47" height="47" />
                    {% endwith %}
                    {% with url_name=HttpRequest.path %}
                    <img class="change-my-color {% if url_name == '/notifs]' %}active{% endif %}" src="{% static 'images/notif.svg' %}" width="47" height="47" />
                    {% endwith %}
                    {% with url_name=HttpRequest.path %}
                    <img class="change-my-color {% if url_name == '/profile]' %}active{% endif %}" src="{% static 'images/profile.svg' %}" width="47" height="47" />
                    {% endwith %}
                </right>
            </div>
        <!--Код хедера-->
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
            <p>
                2023 Хакатон. Проект команды “WakaWakaWeb”
            </p>
        <!--Код футера-->
    </footer>
</body>
</html>