{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon"  href="{% static 'images/logo.svg' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
            <div>
                <left>
                    <a href="{% url 'app:main' %}">
                    <img src="{% static 'images/logo.svg' %}" width="55" height="55" />
                    </a>
                </left>
                <right>
                    {% if user.is_customer %}
                    <a href="{% url 'app:request_create' %}">
                        <img class="change-my-color {% if request.path == '/requests/create/' %}active{% endif %}" src="{% static 'images/add.svg' %}" width="48" height="61" />
                    </a>
                    {% endif %}

                    <a href="{% url 'app:request_list' %}">
                        <img class="change-my-color {% if request.path == '/requests/' %}active{% endif %}" src="{% static 'images/orders.svg' %}" width="41" height="53" />
                    </a>
                    <a href="{% url 'app:info' %}">
                    <img class="change-my-color {% if request.path == '/pins' %}active{% endif %}" src="{% static 'images/pin.svg' %}" width="42" height="56" />
                    </a>
                    <a href="{% url 'app:notifications' %}">
                    <img class="change-my-color {% if request.path == '/notifications/' %}active{% endif %}" src="{% static 'images/notif.svg' %}" width="55" height="55" />
                    </a>
                    <a href="{% url 'users:profile' %}">
                    <img class="change-my-color {% if request.path == '/user/' or request.path == '/user/login/' or request.path == '/user/register/' %}active{% endif %}" src="{% static 'images/profile.svg' %}" width="55" height="55" />
                    </a>
                </right>
            </div>
        <!--Код хедера-->
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
            <p>
                2023 Хакатон. Проект команды “WakaWakaWeb”
            </p>
        <!--Код футера-->
    </footer>
</body>
</html>