{% extends "base.html" %}
{% block content %}
<div class="conta" style="padding: 35px; height: fit-content;">
    <h2>Сброс пароля выполнен</h2>
        <hr style="margin: 20px;">
        <p>Был установлен новый пароль. Вы вошли в аккаунт.</p>
    <a href="{% url 'app:main' %}">
        <div class="regbutton" style=" display: flex; color: rgb(255, 255, 255); text-decoration:none; text-align: center; width: fit-content; margin-right: 15px;">
            На главную
        </div> 
    </a>            
</div>
{% endblock %}