{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="conta" style="padding: 35px; height: fit-content;">
	<h2>Забыли пароль?</h2>
    <hr style="margin: 20px;">
    <p>Введите ваш email-адрес аккаунта, и мы вышлем на него инструкции по сбросу пароля.</p>
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form|crispy }}         
        <button type="submit" class="regbutton" style=" display: flex; color: rgb(255, 255, 255); text-decoration:none; text-align: center; width: fit-content; margin-right: 15px;">Отправить email</button>           
    </form>
</div>
{% endblock %}